@model WordViewModel
@{
    ViewData["Title"] = "Word";
}

<div class="row">
    <h2>@Model.Value</h2>
</div>

<div class="row">
    @Html.ActionLink("List", "Index", "Home")
</div>

<div class="row">
    <h2>Kind</h2>
    <p>@Model.Kind</p>
</div>

<div class="row">
    <h2>Translations</h2>
    <ul>
        @foreach (var translate in Model.TranslationList)
        {
            <li>@translate.Value (@translate.Language)</li>
        }
    </ul>
</div>